.title{
	
	margin-bottom: 20px;

}
#title-name{
	margin-left: 40px;
}

#title-name a{
	text-decoration: none;
}
#frontTitle{
	color: #202c39;
	font-weight: bold;

}

#backTitle{

	font-style: italic;
	color : #2c5b6b;
	font-weight: bold;

}

#sub-title{
	color: #2c5b6b;
	width: 250px;
}

#main-nav{
	background-color: #334b5b;
}

#main-nav .nav-link{
	color:white;
	font-size: 16px;
	height: 80px;
	border-top: 4px solid transparent;

}
#main-nav .nav-item{
	height: 80px;
		margin-left: 30px;
		 line-height: 65px;
  text-align: center;

}
#main-nav .nav-link:hover{
	border-top: 4px solid white;

	
}

#mobile-brand{
	color: white;
}


#img-slide{
	margin-top: 50px;
}
#img-slide img{
	height: 420px;
	width: 1000px;
}
#img-slide .carousel-caption .slide-title{
	color: white;
	background-color: #415265;
	border-radius: 5px;
	font-size: 22px;

}

.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: dimgrey;
}

 .carousel-indicators li{
 	background-color: dimgrey;
 	opacity: 0.7;
 }
.carousel-indicators li[class="active"]{
	background-color: black;
	opacity: 1;
}

.contents{
	color : #415265;
	margin-top : 50px;
	margin-bottom: 50px;
}
.contents h3{
	color: #2a3a48;
}

.knoweng-link{
	margin-top: 20px;
	margin-bottom: 30px;
}



div[class$="-title"]{
	border-bottom: 3px solid #51adb2;
	padding-bottom: 30px;
}
div[class$="-desc"]{
	margin-top: 30px;
	margin-bottom: 30px;
}

div[class$="-overview"] h4, div[class$="-inst"] h4{
	border-bottom: 1px solid  #2a3a48;
	padding-bottom: 10px;
}
div[class$="-overview"] img{
	width: 100%;
	height: 200px;
}

div[class$="-inst"]{

}


footer{
	height: 330px;
	background-color: #334b5b;
	color: #c6c7c9;
}
@media screen and (max-width: 480px) {
    footer .head{
    	font-size: 12px;
    }
    footer .addr{
    	font-size: 10px;
    }
	



}


footer .fund{
	font-size: 8px;
}
footer .head{
	font-weight: bold;
	margin-top: 30px;
}
footer .img-box {
	margin: 30px 30px;
}
footer .img-box img{
	height: 40px;
}