
<div class="container contents">
	
	<div class="row cite-title">
		
		<h2>Citation</h2>
	</div>

	
	<div class="row cite-desc">

		
<div class="col-md-10">

	<p>To cite our work, please use the following reference:</p>

	<p>
		
		M. Kim, Y. Kim, L. Qian, J.S. Song. TeachEnG: a Teaching Engine for Genomics. <a href="https://academic.oup.com/bioinformatics/article/doi/10.1093/bioinformatics/btx447/3952672/TeachEnG-a-Teaching-Engine-for-Genomics?guestAccessKey=ba8cff27-dd98-41d9-8dbd-9004829536db" target="_blank">Bioinformatics</a>, (2017). 

	</p>
			


			<p>A preprint version of the manuscript is available at <a href="http://biorxiv.org/content/early/2017/02/23/111054.1" target="_blank">BIORXIV/2017/111054</a></p>
		</div>


		
		
		
	</div>





</div>
