
<div class="container contents">
	
	<div class="row seqa-title">
		
		<h2>Dot Plot</h2>
	</div>

	
	<div class="row seqa-desc">
		<div class="col-md-10">
			Place a dot in each cell that is the origin of the sliding window
		</div>
		<div class="col-md-2">
			<a role="button"  href="./DotPlot/" class="btn btn-outline-primary">Play</a>
		</div>
		
	</div>



	<div class="row justify-content-around">
		<div class="col-md-5 dotplot-overview">
			<h4>Overview</h4>
			<img src="./img/dot-plot-one.png" alt="dol-plot">

		</div>
		<div class="col-md-4 seqa-inst">
			<h4>Instructional Material</h4>
			<ul>
				<li><a href="./LectureNotes/SequenceAlignment1_Intro.pdf" target="_blank">
					Introduction to Sequence Alignment
					</a>
				</li>
			</ul>
		</div>

	</div>


</div>