
<div class="container contents">
	
	<div class="row nw-title">
		
		<h2>NeedleMan-Wunsch</h2>
	</div>

	
	<div class="row nw-desc">
		<div class="col-md-10">
			Fill out the dynamic programming matrix in Needleman-Wunsch global sequence alignment algorithm.
		</div>
		<div class="col-md-2">
			<a role="button"  href="./SequenceAlignmentDP/" class="btn btn-outline-primary">Play</a>
		</div>
		
	</div>



	<div class="row justify-content-around">
		<div class="col-md-5 nw-overview">
			<h4>Overview</h4>
			<img src="./img/NW_Pic2.png" alt="needleman-wunsch">

		</div>
		<div class="col-md-4 nw-inst">
			<h4>Instructional Material</h4>
			<ul>
				<li><a href="./LectureNotes/SequenceAlignment2_SubstitutionMatrix.pdf" target="_blank">
					Substitution Matrix
				</a></li>
				<li><a href="./LectureNotes/SequenceAlignment3_DynamicProgramming.pdf" target="_blank">
					Dynamic Programming
				</a></li>
				<li><a href="./LectureNotes/SequenceAlignment4_NeedlemanWunsch.pdf" target="_blank">
					Needleman-Wunsch & Smith-Waterman
				</a></li>
				<li><a href="http://vlab.amrita.edu/?sub=3&brch=274&sim=1431&cnt=1" target="_blank">
					vlab.amrita.edu
				</a></li>
			</ul>
		</div>

	</div>


</div>