
<div class="container contents">
	
	<div class="row phylo-title">
		
		<h2>Phylogenetic Tree</h2>
	</div>

	
	<div class="row phylo-desc">
		<div class="col-md-10">
			Reconstruct phylogenetic trees via the maximum parsimony, Unweighted Paired Group Method with Arithmetic mean (UPGMA), or Neighbor-Joining method.
		</div>
		<div class="col-md-2">
			<a role="button"  href="./PhylogeneticTree/" class="btn btn-outline-primary">Play</a>
		</div>
		
	</div>



	<div class="row justify-content-around">
		<div class="col-md-5 phylo-overview">
			<h4>Overview</h4>
			<img src="./img/UPGMA_Pic.png" alt="sequence-alignment">
			<img src="./img/MaxPars_Pic.png" alt="">
		</div>
		<div class="col-md-4 phylo-inst">
			<h4>Instructional Material</h4>
			<ul>
				<li><a href="./LectureNotes/PhylogeneticTree1_MaximumParsimony.pdf" target="_blank">Phylogenetic Trees & Maximum Parsimony</a></li>
				<li><a href="./LectureNotes/PhylogeneticTree2_UPGMA.pdf" target="_blank">UPGMA</a></li>
				<li><a href="./LectureNotes/PhylogeneticTree3_NJ.pdf" target="_blank">Neighbor-Joining</a></li>
			</ul>
		</div>

	</div>


</div>
