
<div class="container contents">
	
	<div class="row seqa-title">
		
		<h2>Sequence Alignment</h2>
	</div>

	
	<div class="row seqa-desc">
		<div class="col-md-10">
			Rearrange two sequences to get as many matches and as few mismatches and gaps as possible.
		</div>
		<div class="col-md-2">
			<a role="button"  href="./SequenceAlignment/" class="btn btn-outline-primary">Play</a>
		</div>
		
	</div>



	<div class="row justify-content-around">
		<div class="col-md-5 seqa-overview">
			<h4>Overview</h4>
			<img src="./img/SeqAlign_Pic.png" alt="sequence-alignment">

		</div>
		<div class="col-md-4 seqa-inst">
			<h4>Instructional Material</h4>
			<ul>
				<li><a href="./LectureNotes/SequenceAlignment1_Intro.pdf" target="_blank">
					Introduction to Sequence Alignment
					</a>
				</li>
			</ul>
		</div>

	</div>


</div>