html,body{
	height: 100%;
}

.container-fluid .row{
	margin-bottom: 30px;
}

span {
  display: inline-block;
}

.howto{
	font-weight: bold;
	font-size: 15px;
	margin-left: 30px;
	color :blue;

}

#result{
	
	font-size: 20px;

}
#matrix_container .row{
	margin: 0;
}


.letterA{
	color :green;

}
.letterT{
	color: blue;
}
.letterC{
	color: red;
}
.letterG{
	color: orange;

}

.right{
	border: 2px solid green;
}
.wrong{
	border: 2px solid red;
}


#util_buttons{
	margin-top: 50px;
	/*border-bottom: 3px solid green;*/
}

#info1, #match{
	font-weight: bold;
	color: green;
}

#info2, #mismatch{
	font-weight: bold;
	color: #809fff;
}

#info3, #gap{
	font-weight: bold;
	color: red;
}
#info4{
	margin-left: 10px;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	color: red
}

#final_result{
	padding-top: 50px;
	font-weight: bold;
}


.matrix_table .row{
	text-align: center;
}

/*desktop*/
@media only screen 
  and (min-width: 1024px) { 
 
 div.col-md-1{
	padding: 0;
	width: 80px;
}
div.col-md-1.container{
	
	font-size: 20px;

}

div[class*="letter"]{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

#right{
	color : blue;
	font-size:large;
}
#down {
	color : orange;
	font-size:large;
}
#diag {
	color : green;
	font-size:large;
}

}


/*mobile and tablet*/
@media only screen 
  and (min-width: 480px)
   and (max-width: 1024px) { 
 
div.col-xs-1{
	padding: 0;
	width: 50px;
}
div.col-xs-1.container{
	
	width: 50px;
	font-size: 10px;

}

div[class*="letter"]{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

input.form-control{
	font-size: 8px;
}

#right{
	color : blue;
	font-size:small;
}
#down {
	color : orange;
	font-size:small;
}
#diag {
	color : green;
	font-size:small;
}

}

#seq_one_str, #seq_two_str{
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace
}


#seq1_letters > .col-md-1{
	padding-right: 25px;
}

div.col-md-6, div.col-xs-6{
	width: 50%;
	padding: 0; 
}
.matrix_table input, .matrix_table span{
	
	padding: 0;
	
}
/*modal*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: scroll; 
	overflow-x:hidden;	
    background-color: rgba(0,0,0,0.4); 
}

.modal-header {
    margin-bottom: 10px;
    background-color: blue;
    color: white;
}
.modal-content {
    background-color: white;
    opacity: 0.8;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width:40%; 
    color : black;
     font-weight: bold;
}



.selected_input {
	border: 3px solid green;
}
.final_path_input {
	border: 4px solid #90EE90;
}

#score_table{
	text-align: center;
	font-weight: bold;
}
#score_table > .table > thead > tr > th,
#score_table > .table > tbody > tr > th{
	text-align: center;

}

#score_table > .table > tbody > tr > td > input{
	width: 50px;
	text-align: center;
}

#check_score{
	margin-top: 20px;
}
#go_back {
	margin-top: 20px;
	margin-left: 10px;
}

#message {
	margin-top: 20px;
	color :red;
}
.level_buttons > button{
	margin-left: 10px;
}
/*title*/
#title{
	border: 2px solid black;
	text-align: center;
}

#not_solved > .row{
	margin-bottom: 20px;
}


