.container-fluid .row{
	margin-bottom: 20px;
}

span {
  display: inline-block;
}
.howto{
	font-weight: bold;
	font-size: 15px;
	margin-left: 30px;
}
#seq_one_str, #seq_two_str{
	font-weight: bold;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace
}


#time {
	font-size: 20px;
}

#result{
	
	font-size: 20px;
	color: red;
}
.level_buttons {
	margin-left: 30px;
}
.container .row{
	margin: 0 !important;
}

#origin,#mutate,#score{
	margin-bottom: 10px;
	
}
#sequence_table {
	font-size: 20px;
}
#sequence_table button{
	border-radius: 50px;
}

#sequence_table .col-md-12{
	border: 2px solid black;
}
#item{
	font-size: 25px;

}
.letter{
	text-align: center;
}
.letterA{
	color :green;

}
.letterT{
	color: blue;
}
.letterC{
	color: red;
}
.letterG{
	color: black;

}
#score_table{
	text-align: center;
	font-weight: bold;
}
#score_table > .table > thead > tr > th,
#score_table > .table > tbody > tr > th{
	text-align: center;

}

#score_table > .table > tbody > tr > td > input{
	width: 50px;
	text-align: center;
}

.letter_background{
	height : 100%;
	width:50px;
	margin: auto;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
	
}

.score_background{
	height : 100%;
	width:50px;
	margin: auto;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
	
}

.selected{
	border: 2px solid green;
}

#util_buttons{
	margin-top: 40px;
}
.info{
	margin-left: 50px;
}


#info1, #match{
	font-weight: bold;
	color: green;
}

#info2, #mismatch{
	font-weight: bold;
	color: #809fff;
}

#info3, #gap{
	font-weight: bold;
	color: red;
}
#info4, #info5{
	border: 1px solid;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
}

#summing{
	font-weight: bold;
	color: #191970;
}

.level_exp{
	border: 2px solid black;
	margin-top: 40px;
	text-align: center;

}

#title{
	border: 2px solid black;
	text-align: center;
}